@media screen and (max-width: 1300px) {
    .card {
        width: 95vw;
    }
}

@media screen and (max-width: 850px) {

    .one,
    .two {
        grid-template-columns: auto;
        gap: 30px;
    }

    .head {
        text-align: center;
    }

    .head p {
        width: 100%;
    }

    .rate {
        align-items: center;
    }

    .report,
    .tech {
        margin-left: 0;
    }

    .author1,
    .author2 {
        margin-top: 0;
    }
}


@media screen and (max-width: 627px) {

    body {
        background: url('images/bg-pattern-top-mobile.svg'),
            url('images/bg-pattern-bottom-mobile.svg');
        background-repeat: no-repeat;
        background-position: left top, right bottom;
        background-size: auto, auto;
    }

    .card {
        width: 95vw;
    }

    .info {
        padding: 40px;
    }

    .review,
    .report,
    .tech {
        flex-direction: column;
        gap: 0;
    }
}